/*  your css code here. If applicable */
ul;{
	list-style: none;
}
nav{
	padding: 10px;
	background-color: #D3D3D3;
}
li{
	display: inline;
	margin-right: 1rem;
	
}

a{
	text-decoration: none;
	color: #000000;
	font-family: Arial;
}

.conatiner{
	display: flex;
	justify-content: center;
	
}